@import url('https://fonts.googleapis.com/css?family=Graduate|PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
h1, h6{
    color: white;
    font-family: 'Graduate';
    padding: 15px;
}
nav {
    color: white;
    font-size: 1.3em;
    line height: 3em;
    font-weight: bold;
    text-align: right;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: rgb(141, 141, 141);
}
h2, h3, h4, h5{
    color: black;
    font-family: 'Graduate';
    padding: 15px;
}
header{
    background-color: rgb(100, 37, 119);
    border-radius: 20px;
    padding: 1em 1em;
    padding-bottom: 5px;
}
section{
    padding: 1em;
    padding-top: 20px;
}
footer{
    background-color: #4D5C92;
    border-radius: 20px;

}
img{
    float: left;
    width: 200px;

}
p{
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}
.footertext{
    color: white;
    padding-left: 15px;
}
hr{
    border-top: 3px solid black;
    display: flex;
    align-items: center;
}
#row1, #row2, #row3{
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
}
#row2{
    background-color: #D3D3D3;
}
.left-column, .right-column, .middle-column{
    width: 30%;
    flex: 1 0 15em;
}
.left-column{
    padding-right: 2px;
}
.right-column{
    padding-left: 2px;
}