@import url('https://fonts.googleapis.com/css?family=Graduate|PT+Sans&display=swap');
h1,h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'Graduate';
    padding: 15px
}
header{
    background-color: #4D5C92;
    border-radius: 20px;
    padding: 1em 1em;
}
section{
    padding: 1em;
}
footer{
    background-color: #4D5C92;
    border-radius: 20px;

}
img{
    float: right;
    width: 200px;

}
.footertext{
    color: white;
    padding-left: 15px;
}

main{
    border-top 3px solid black;
}