@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

//variables
$font1: 'Lora', serif;
$font2: Arial, Helvetica, sans-serif;
$blue: #6495ed;
$lightpink: #faebd7;
$peach: #deb887;

//mixins
@mixin link1 {
    text-decoration: none;
    color: $lightpink;
}

@mixin link2 {
    text-decoration: none;
    color: $blue;
}
//scss begins here
body{
    margin: 0em;
}
.post-date {
    font-family: $font2;
    color: gray;
}
h1, h2, h3, h4, h5{
    font-family: $font1;
}
p {
    font-family: $font2;
}
div {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    background-color: $blue;
    color: $lightpink;
    align-items: flex-end;
    flex-direction: column;
    padding: 0% 10% 0% 10%;
    text-align: right;
    //nested
    hr {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    ul{
        list-style-type: none;
    }
    li {
        padding-bottom: 0.6em;
    }
    a:link {
        @include link1;
    }
    a:visited {
        @include link1;
    }
    a:hover {
        text-decoration: underline;
        color: white;
    }
    a:active {
        text-decoration: underline;
        color: $peach;
    }
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: $lightpink;
    //article
    article{
        background-color: #ffffff;
        width: 80%;
        margin-top: 2em;
        padding: 1.5em;
        //links
        a:link {
            @include link2;
        }
        a:visited {
            @include link2;
        }
        a:hover {
            text-decoration: underline;
            color: $blue;
        }
        a:active {
            text-decoration: underline;
            color: $blue;
        }
        h2 {
            a:link, a:visited{
                text-decoration: none;
                color: black;
            }
            a:hover {
                text-decoration: underline;
                color: $blue;
            }
            a:active {
                color: $peach;
            }   
        }
        img {
            width: 50%;
        }
    }

}
figure {
    display: flex;
    justify-content: center;
}


@media only screen and (min-width: 768px) {

    div {
        flex-direction: row;
    }

    header {
        width: 350px;
        padding: 1.56em;
    }

}