@media only screen and (min-width:35em) {
    .activenav {
        display: flex;
    }
    .activenav li{
        display: block;
        flex: 1 1 100%;
    }
    .activenav li a {
        text-align: center;
    }
    .activenav li:first-child {
        display: none;
    }
    header div:nth-child(2) {
        display: none;
    }
    header div:nth-child(3) {
        justify-content: flex-end;
    }
    header {
        flex-direction: row;
    }
    body {
        max-width: 95%;
        margin: auto;
    }





    
} 