@media (min-width: 37em) {
    nav {
        flex-direction: row;
    }
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    nav a{
        font-size: 1 rem;
    }
    picture {
        display: block;
    }
    .logo {
        display: flex;
        float: right;
        position: relative;
        margin: 2px 2px 2px 2px;
    }
    .mainsection {
        width: 85vw;
        margin: auto;
        padding: 2em;
    }
}